body {
    background: url('../API-Two/assets/nasa-rTZW4f02zY8-unsplash.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }

  .card {
    border-radius: 5px;
    border: 2px solid black;
    background-color: #52b788;
  }

  .formHero {
    margin-left: 100px;
  }

  .heroStats {
    right: 55px;
    display: inline-flex;
  }